body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: black;
}

/* Heading */

.big-heading {
  padding-top: 50px;
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.7;
  font-weight: 900;
}

.small-heading {
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 50px;
  line-height: 2.5;
  font-size: 21px;
  font-weight: 500;
  color: grey;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 10%;
}

/* Sections */

.white-section {
  background-color: #dff6ff;
}
/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 11px 18px;
  font-weight: 500;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-btn {
  font-size: 18px;
  background-color: blue;
  color: white;
  font-weight: 600;
  border: none;
  padding: 6px 35px;
  text-align: center;
  margin: 13px 16px;
  box-shadow: 1px 2px #dfdbdb;
  border-radius: 30px;
}

/* Download Buttons */

.bigbtn {
  font-size: 30px;
  margin: 5% 3% 5% 0;
  box-shadow: 1px #dfdbdb;
  font-weight: 500;
}

.btn-section {
  margin-bottom: 50px;
}

/* Title Section */

#title .container-fluid {
  padding: 1% 5% 0% 5%;
  text-align: left;
}

/* Title image */

.people-img {
  max-width: 45%;
  position: absolute;
  right: 5%;
}

/* Features */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
  padding: 2%;
}

.fas {
  color: black;
  margin-bottom: 1rem;
}

.sub-box {
  padding-right: 22%;
  padding-left: 22%;
}

/* Testimonials Section */
#testimonials {
  background-color: white;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
  padding-left: 16%;
  padding-right: 16%;
  text-align: left;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.cta-text {
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.5;
}
/* Call to Action Section */

/* Footer Section */

.fa-envelope {
  color: black;
}

.img-box {
  margin: 20px 10px;
}
