.task-header {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
}

.due-date, .comments {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
}

.desc {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

.comments {
    margin-left: 10px;
}

.info {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

table.task-info-tbl {
    width: 95%;
    border-collapse: collapse;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
}

button.complete {
    position: absolute;
    right: 5%;
    top: 15%;
    background-color: #5D8BF4;
    color: white;
    border-radius: 1000px;
    display: block;
    width: 130px;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border: none;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Montserrat";
}

.form-group textarea {
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
    width: 70%;
    height: 200px;
    border-radius: 8px;
    font-family: "Montserrat";
    display: inline-flex;
}

button.comment {
    margin-top: 200px;
    background-color: #5D8BF4;
    color: white;
    border-radius: 1000px;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Montserrat";
}

p.complete {
    color: green;
}