table.task-table {
  width: 95%;
  border-collapse: collapse;
  margin-left: 30px;
}

table.task-table tr th {
  border: 1px solid rgb(114, 112, 112);
  padding: 15px;
}

table.task-table tr th:nth-child(1) {
  width: 60%;
  text-align: left;
  border-left: 0px solid;
}

table.task-table tr th:nth-child(3) {
  width: 20%;
  border-right: 0px solid;
}

table.task-table tr:nth-child(1) {
  background-color: #DFF6FF;
}

.icon {
  color: green;
  font-size: 30px;
}

.center-icon {
  display: flex;
  align-items: center;
}

.individual-task select {
  border: none;
  width: 100%;
}

.task-info {
  font-size: 1.3rem;
  font-family: "Montserrat";
}

.task-title {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 1rem;
}

.task-title:hover {
  background-color: rgb(225, 224, 224);
}

.task-content {
  background-color: rgb(222, 218, 218);
}

.task-btn {
  color: #000000;
  padding-right: 10em;
  text-decoration: none;
  margin: 0 auto;
}

.task-btn:hover {
  color: #5D8BF4;
}

button.create-btn {
  background-color: #5D8BF4;
  color: white;
  border-radius: 1000px;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  border: none;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

button.create-btn:hover {
  background-color: white;
  color: #5D8BF4;
  border: 1px solid #5D8BF4;
}