/* Main Contents */
.main-contents-message {
    background-color: white;
    width: 60%;
}

.main-contents-message h1 {
    display: inline-block;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: "Montserrat";
    color: black;
    margin-right: 250px;
}

hr {
    border: none;
    border-bottom: 1px solid #C4C4C4;
    margin-right: calc(0% - 50vw);
    margin-left: calc(0% - 50vw);
}

table {
    text-align: center;
}

.message-form {
    display: block;
    margin-left: 200px;
}

.message-form input:not(input[type="submit"]) {
    width: 60%;
    font-size: 1rem;
}

.message-form input:not(input[type="submit"]) {
    height: 35px;
}

div.submit {
    width: auto;
}

textarea {
    width: 60%;
    font-size: 1rem;
}

.send {
    margin-left: 600px;
    background-color: #5D8BF4;
    color: white;
    border-radius: 1000px;
    width: 80px;
    height: 25px;
    border: none;
    font-size: 0.77rem;
    font-weight: 600;
    font-family: "Montserrat";
}

.mess {
    padding-right: 415px;
}

.mes {
    margin-left: 40px;
}